/*TEXTO*/
h3 {
   font-family: "Barlow", sans-serif;
}
		h2 {
	 font-family: "Barlow Semi Condensed", sans-serif;
	 color: orange;

	}
		h4 {
	 font-family: "Barlow Semi Condensed", sans-serif;
	color: #ff751f;
	}
	
		p {
	 font-family: "Barlow", sans-serif;	

	}

		a {
	 font-family: "Barlow Semi Condensed", sans-serif;

	}

		table {
	 font-family: "Barlow", sans-serif;
	
	}

		strong {
	 font-family: "Barlow Semi Condensed", sans-serif;
	
	}

		body {
 	 background-color: #f0f0f0; 
	}



/*CABECALHO*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabecalho {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: white;
   padding: 15px 40px;
	
	}


/*LOGO*/
.logo {
    display: flex;
    align-items: center;
    gap: 20px;
	}

.logo img {
	width: 85px;
	height: auto;
	}

.logo h3 {
	 font-size: 18px;
	}



/*NAVEGACÃO*/
nav {
    display: flex;
    gap: 40px;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.2s;
}

nav a:hover {
  color:orange;
}


/*BOTÃO DE AGENDAMENTO*/
	.botao {
  background-color: #ff751f;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  border-radius: 4px;
}

.botao:hover {
  background-color: #c83d13;
}


/*RODAPÉ*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.rodape{
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color:#1b1670;
   padding: 15px 40px;
   color: white;
}

.container {
  display: flex;
  flex-direction: column; 
  gap: 5px; 
  text-align: center;
}


.colunaa{
  display: flex;
  flex-direction: column; 
  gap: 5px; 
  text-align: center;

}

.colunab {
  display: flex;
  flex-direction: column; 
  gap: 1px; 
  text-align: center;
  font-weight: bold;
  
}

.colunab a {
  color: white; 
  text-decoration: none; 
  transition: color 0.2s; 
}
.colunab a:hover {
  color: orange;

}
.colunac{
  display: flex;
  flex-direction: column; 
  gap: 5px; 
  text-align: center;
}

/*AVALIAÇÃO*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.informacao {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: orange;
   padding: 15px 40px;
   color: black;
	}

/*BOTÃO DE AGENDAMENTO*/

.botaodois{
  background-color: black;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  border-radius: 4px;
}

.botaodois:hover {
  background-color: black;
}

.link-serviços:hover {
    color: red;
}



